@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: 'Quicksand', sans-serif;
  }

  main {
    background: url('./background/background.jpg');
    background-size: 100%;
  }

  .form__element {
    @apply my-8;
  }

  input,
  select,
  textarea {
    @apply p-2 mt-1 rounded-md shadow-sm;
  }

  label {
    @apply p-2;
  }

  button {
    @apply bg-[#132C33]  p-2 rounded-md hover:bg-[#126E82] text-white shadow-sm ease-in-out duration-200;
  }

  .form__create--product div {
    @apply my-4;
  }

  .form__create--product div input {
    @apply ml-2;
  }

  tr,
  td,
  th {
    @apply border-2 border-[#132C33] p-4 text-center;
  }

  #vertical-tabpanel-0,
  #vertical-tabpanel-1,
  #vertical-tabpanel-2 {
    @apply mx-auto w-full text-center;
  }

  img {
    @apply shadow-sm rounded-lg;
  }

  form div {
    @apply my-2;
  }
}

.navbar.active,
.filter.active {
  width: 100%;
  position: fixed;
  z-index: 10000;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  top: 0;
}

.dropdown__profile ul div {
  display: none;
  transition: display 1s linear;
}
.dropdown__profile:hover ul div {
  display: block;
}
.dropdown__categories .dropdown__categories--element {
  display: none;
}

.dropdown__categories:hover .dropdown__categories--element {
  display: block;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}

.MuiTab-root,
.css-ahj2mt-MuiTypography-root,
.react-calendar {
  font-family: 'Quicksand', sans-serif !important;
}

.css-wjh20t-MuiPagination-ul li button {
  background-color: #d8e3e7;
}
.css-wjh20t-MuiPagination-ul li button:hover {
  background-color: #1976d2;
  color: white;
}

.cart-payment {
  background-image: url('./background/background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.react-calendar {
  background-color: #d8e3e7 !important;
  border: none !important;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
}

.react-date-picker__wrapper {
  border: none !important;
  padding: 0.5rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 0.5rem;
}

.react-date-picker__clear-button,
.react-date-picker__calendar-button {
  background-color: #d8e3e7 !important;
  margin: 0 0.5rem 0 0.5rem;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__label,
.react-calendar__navigation__next-button,
.react-calendar__navigation__next2-button,
.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__month-view__days__day {
  background-color: #132c33 !important;
}

.react-calendar__navigation__prev-button:hover,
.react-calendar__navigation__prev2-button:hover,
.react-calendar__navigation__label:hover,
.react-calendar__navigation__next-button:hover,
.react-calendar__navigation__next2-button:hover,
.react-calendar__month-view__days__day--neighboringMonth:hover,
.react-calendar__month-view__days__day:hover {
  background-color: #126e82 !important;
}

.react-calendar__month-view__weekdays {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.swiper-button-prev,
.swiper-button-next {
  color: #132c33 !important;
}
