body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown__profile ul div {
  display: none;
  transition: display 1s linear;
}
.dropdown__profile:hover ul div {
  display: block;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.dropdown__categories .dropdown__categories--element {
  display: none;
}

.dropdown__categories:hover .dropdown__categories--element {
  display: block;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}

.css-187mznn-MuiSlider-root {
  color: #132c33 !important;
}

.css-wjh20t-MuiPagination-ul li {
  padding: 5px;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:after,
.css-q0jhri-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #126E82 !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
  font-size: 1.5rem !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input{
padding: 0.5rem 1rem !important;
}

.MuiAvatar-root img {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 100%;
}

.MuiButtonBase-root {
  box-shadow: none !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-color: #fff !important;
}

.MuiInputBase-input {
  box-shadow: none;
}

profile .MuiAvatar-root img {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 100%;
}

.cart-payment {
  background-image: url("./background/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.react-calendar {
  background-color: #d8e3e7 !important;
  border: none !important;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
}

.react-date-picker__wrapper {
  border: none !important;
  padding: 0.5rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 0.5rem;
}

.react-date-picker__clear-button,
.react-date-picker__calendar-button {
  background-color: #d8e3e7 !important;
  margin: 0 0.5rem 0 0.5rem;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__label,
.react-calendar__navigation__next-button,
.react-calendar__navigation__next2-button,
.react-calendar__month-view__days__day--neighboringMonth,
 {
  background-color: #132c33 !important;
}

.react-calendar__navigation__prev-button:hover,
.react-calendar__navigation__prev2-button:hover,
.react-calendar__navigation__label:hover,
.react-calendar__navigation__next-button:hover,
.react-calendar__navigation__next2-button:hover,
.react-calendar__month-view__days__day--neighboringMonth:hover,
.react-calendar__month-view__days__day:hover {
  background-color: #126e82 !important;
}

.react-calendar__month-view__weekdays {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.swiper-button-prev,
.swiper-button-next {
  color: #132c33 !important;
}

.sort__radio {
  display: none;
}

.sort__label {
  padding: 1rem 2rem;
  color: #000;
  background: #d8e3e7;
  cursor: pointer;
  transition: background ease-in-out 0.1s;
}

.sort__label:not(:last-of-type) {
  border-bottom: 1px solid #132c33;
}

.sort__radio:checked + .sort__label {
  background: #126e82;
  color: #fff;
  box-shadow: 2px 2px 5px rgba(23, 173, 206, 1);
}

.menu__bar {
  background-color: #fff;
  width: 100%;
  height: 3px;
}

.item__name {
  font-family: "Gruppo", cursive;
}

.react-date-picker__inputGroup__input {
  box-shadow: none;
}

.react-date-picker__clear-button {
  display: none !important;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa,
      0 0 92px #0fa, 0 0 151px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}




::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #d8e3e7;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(81, 196, 211, 1) 0%,
    rgba(19, 44, 51, 1) 100%
  );
  border-radius: 100vw;
  border: 0.15em solid rgb(80, 64, 54);
}

::-webkit-slider-thumb:hover {
  background: hsl(120 100% 10% / 1);
}

.ql-align-justify:has(> img),
.ql-align-justify span:has(> img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ql-indent-1 {
  padding-left: 2rem;
}

.ql-indent-2 {
  padding-left: 4rem;
}



canvas {
  width: 100% !important;
  height: max-content !important;
}

.carousel .thumb {
  border: none !important;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 3px solid #51c4d3 !important;
}

.navlink {
  color: #fff;
  position: relative;
  text-decoration: none;
}

.navlink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: linear-gradient(
    270deg,
    rgba(216, 227, 231, 1) 0%,
    rgba(81, 196, 211, 1) 50%,
    rgba(18, 110, 130, 1) 100%
  );
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navlink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.ql-editor{
  height: 47rem !important;
 }

.ql-container{
  overflow-y: auto !important;
  }